## World generator config ##
master_scale = 4.5
ocean_level = 0

# Noise config
octaves = 5
falloff = 0.4

# Heightmap config
elevation_scale = 0.001
elevation_lac = 2.35

temperature_scale = 0.0015
temperature_lac = 2

moisture_scale = 0.001
moisture_lac = 2

river_scale = 0.001
river_lac = 2

# Biome config
[biomes]
    # Sea biomes
    [biomes.ocean]
    id = 0
    temperature = 0
    elevation = 0
    scale = 1
    layer = "Sea"
    blocks = [9, 9, 13]
    sea_level = true

    [biomes.frozen_ocean]
    id = 10
    temperature = -0.9
    elevation = 0
    scale = 1
    layer = "Sea"
    blocks = [79, 9, 13]
    sea_level = true

    [biomes.warm_ocean]
    id = 24
    temperature = 0.9
    elevation = 0
    scale = 1
    layer = "Sea"
    blocks = [9, 9, 13]
    sea_level = true

    [biomes.beach]
    id = 16
    temperature = 0.4
    elevation = 0.3
    scale = 0.4
    layer = "Sea"
    blocks = [12, 12, 24]
    sea_level = true

    [biomes.stone_beach]
    id = 25
    temperature = -0.4
    elevation = 0.3
    scale = 0.4
    layer = "Sea"
    blocks = [1, 1, 1]
    sea_level = true

    # River biomes
    [biomes.river]
    id = 7
    temperature = 0.4
    scale = -0.5
    layer = "River"
    blocks = [9, 9, 13]
    sea_level = true

    [biomes.frozen_river]
    id = 11
    temperature = -0.4
    scale = -0.5
    layer = "River"
    blocks = [79, 9, 13]

    # Land biomes
    [biomes.jungle]
    id = 21
    temperature = 0.65
    moisture = 0.75
    elevation = 0.25
    scale = 1.0
    layer = "Land"
    blocks = [2, 3, 3]

    [biomes.jungle_hills]
    id = 22
    temperature = 0.65
    moisture = 0.75
    elevation = 0.25
    scale = 2.5
    layer = "Land"
    blocks = [2, 3, 3]

    [biomes.desert]
    id = 2
    temperature = 0.75
    moisture = 0.25
    elevation = 0.0
    scale = 1.0
    layer = "Land"
    blocks = [12, 12, 24]

    [biomes.desert_hills]
    id = 17
    temperature = 0.55
    moisture = 0.25
    elevation = 1.0
    scale = 2.5
    layer = "Land"
    blocks = [12, 12, 24]

    [biomes.plains]
    id = 1
    temperature = 0.35
    moisture = 0.35
    elevation = 0.0
    scale = 0.5
    layer = "Land"
    blocks = [2, 3, 3]

    [biomes.ice_plains]
    id = 12
    temperature = -0.55
    moisture = 0.35
    elevation = 0.0
    scale = 0.5
    layer = "Land"
    blocks = [2, 3, 3]
    surface_layer = 78

    [biomes.swamp]
    id = 6
    temperature = -0.25
    moisture = 0.75
    elevation = 0.0
    scale = 0.5
    layer = "Land"
    blocks = [2, 3, 3]

    [biomes.forest]
    id = 4
    temperature = 0.35
    moisture = 0.5
    elevation = 0.25
    scale = 0.95
    layer = "Land"
    blocks = [2, 3, 3]

    [biomes.forest_hills]
    id = 18
    temperature = 0.1
    moisture = 0.5
    elevation = 0.8
    scale = 2.25
    layer = "Land"
    blocks = [2, 3, 3]

    [biomes.taiga]
    id = 5
    temperature = -0.8
    moisture = 0.5
    elevation = 0.25
    scale = 0.95
    layer = "Land"
    blocks = [2, 3, 3]
    surface_layer = 78

    [biomes.mountains]
    id = 3
    temperature = 0.18
    moisture = 0.2
    elevation = 1.2
    scale = 2
    layer = "Land"
    blocks = [1, 1, 1]

    [biomes.ice_mountains]
    id = 13
    temperature = -0.8
    moisture = -0.25
    elevation = 1.85
    scale = 2
    layer = "Land"
    blocks = [1, 1, 1]
    surface_layer = 78