## World generator config ##
master_scale = 5.5
ocean_level = 0.02

# Noise config
octaves = 6
falloff = 0.3

# Heightmap config
elevation_scale = 0.0012
elevation_lac = 2.55

temperature_scale = 0.0005
temperature_lac = 2.3

moisture_scale = 0.0005
moisture_lac = 2.3

river_scale = 0.001
river_lac = 2

# Biome config
[biomes]
    # Sea biomes
    [biomes.ocean]
    id = 0
    temperature = 0
    elevation = 0
    scale = 1
    layer = "Sea"
    blocks = [9, 9, 13]
    sea_level = true

    [biomes.frozen_ocean]
    id = 10
    temperature = -0.9
    elevation = 0
    scale = 1
    layer = "Sea"
    blocks = [79, 9, 13]
    sea_level = true

    [biomes.warm_ocean]
    id = 24
    temperature = 0.9
    elevation = 0
    scale = 1
    layer = "Sea"
    blocks = [9, 9, 13]
    sea_level = true

    [biomes.beach]
    id = 16
    temperature = 0.4
    elevation = 0.3
    scale = 0.4
    layer = "Sea"
    blocks = [12, 12, 24]
    sea_level = true

    [biomes.stone_beach]
    id = 25
    temperature = -0.4
    elevation = 0.3
    scale = 0.4
    layer = "Sea"
    blocks = [1, 1, 1]
    sea_level = true
    features = { boulders = 0.2 }

    # River biomes
    [biomes.river]
    id = 7
    temperature = 0.4
    scale = -0.5
    layer = "River"
    blocks = [9, 9, 13]
    sea_level = true

    [biomes.frozen_river]
    id = 11
    temperature = -0.4
    scale = -0.5
    layer = "River"
    blocks = [79, 9, 13]
    sea_level = true

    # Land biomes
    [biomes.jungle]
    id = 21
    temperature = 0.65
    moisture = 0.75
    elevation = 0.25
    scale = 1.0
    layer = "Land"
    blocks = [2, 3, 3]
    features = { grass = 0.5, bushes = 0.35, jungle_tree = 0.03 }

    [biomes.jungle_hills]
    id = 22
    temperature = 0.65
    moisture = 0.75
    elevation = 0.25
    scale = 2.5
    layer = "Land"
    blocks = [2, 3, 3]
    features = { grass = 0.5, bushes = 0.35, jungle_tree = 0.03 }

    [biomes.desert]
    id = 2
    temperature = 0.75
    moisture = 0.25
    elevation = 0.0
    scale = 1.0
    layer = "Land"
    blocks = [12, 12, 24]
    features = { cacti = 0.002, dead_bushes = 0.006 }

    [biomes.desert_hills]
    id = 17
    temperature = 0.55
    moisture = 0.25
    elevation = 1.0
    scale = 2.5
    layer = "Land"
    blocks = [12, 12, 24]
    features = { cacti = 0.002, dead_bushes = 0.006 }

    [biomes.plains]
    id = 1
    temperature = 0.35
    moisture = 0.35
    elevation = 0.0
    scale = 0.5
    layer = "Land"
    blocks = [2, 3, 3]
    features = { grass = 0.4, flowers = 0.05, warm_tree = 0.002 }

    [biomes.ice_plains]
    id = 12
    temperature = -0.55
    moisture = 0.35
    elevation = 0.0
    scale = 0.5
    layer = "Land"
    blocks = [2, 3, 3]
    surface_layer = 78
    features = { grass = 0.1, cold_tree = 0.002 }

    [biomes.swamp]
    id = 6
    temperature = -0.25
    moisture = 0.75
    elevation = 0.0
    scale = 0.5
    layer = "Land"
    blocks = [2, 3, 3]
    features = { puddles = 0.5, lilypads = 0.06, warm_tree = 0.002 }

    [biomes.forest]
    id = 4
    temperature = 0.35
    moisture = 0.5
    elevation = 0.25
    scale = 0.95
    layer = "Land"
    blocks = [2, 3, 3]
    features = { grass = 0.4, flowers = 0.05, fern = 0.04, mushrooms = 0.04, warm_tree = 0.03 }

    [biomes.forest_hills]
    id = 18
    temperature = 0.1
    moisture = 0.5
    elevation = 0.8
    scale = 2.25
    layer = "Land"
    blocks = [2, 3, 3]
    features = { grass = 0.4, flowers = 0.05, fern = 0.04, mushrooms = 0.04, warm_tree = 0.03 }

    [biomes.taiga]
    id = 5
    temperature = -0.8
    moisture = 0.5
    elevation = 0.25
    scale = 0.95
    layer = "Land"
    blocks = [2, 3, 3]
    features = { grass = 0.05, mushrooms = 0.03, cold_tree = 0.03 }
    surface_layer = 78

    [biomes.mountains]
    id = 3
    temperature = 0.18
    moisture = 0.2
    elevation = 1.0
    scale = 2
    layer = "Land"
    blocks = [1, 1, 1]
    features = { mushrooms = 0.005 }

    [biomes.ice_mountains]
    id = 13
    temperature = -0.8
    moisture = -0.25
    elevation = 1.0
    scale = 2
    layer = "Land"
    blocks = [1, 1, 1]
    surface_layer = 78
    features = { icicles = 0.001, mushrooms = 0.0005 }

[ores]
    [ores.coal]
    id = 16
    center = 64
    spread = 64
    scale = 0.1
    threshold = 0.7

    [ores.iron]
    id = 15
    center = 45
    spread = 25
    scale = 0.13
    threshold = 0.81

    [ores.gold]
    id = 14
    center = 25
    spread = 5
    scale = 0.15
    threshold = 0.8

    [ores.diamond]
    id = 56
    center = 0
    spread = 14
    scale = 0.2
    threshold = 0.75

    [ores.redstone]
    id = 73
    center = 0
    spread = 20
    scale = 0.1
    threshold = 0.8

    [ores.lapis]
    id = 21
    center = 0
    spread = 20
    scale = 0.12
    threshold = 0.8

    [ores.emerald]
    id = 129
    center = 10
    spread = 2
    scale = 0.2
    threshold = 0.82